@use "../../styles/utils/variables";
@use "../../styles/utils/mixins";

#tracking-calendar {
  position: relative;
  z-index: 1300;

  &.under-drawer {
    z-index: 0;
  }

  // Set Navigation icon colour
  .react-datepicker__navigation-icon::before {
    border-color: white;
  }

  // Set Navigation icon height
  .react-datepicker__navigation {
    margin: 0.3rem 1rem;
    // margin: 0.5rem 1rem;
  }

  // Header config
  .react-datepicker__header {
    background-color: variables.$bg-colour;

    h2 {
      color: white;
      font-size: 1.2rem;
    }

    .react-datepicker__day-name {
      color: #a3a2b4;
    }

    .react-datepicker__day-name:nth-child(1) {
      // Set Sunday to red
      color: red;
    }
  }

  .react-datepicker__month {
    color: white;
  }

  .react-datepicker__week {
    .react-datepicker__day {
      &:hover {
        color: white;
        background-color: variables.$btn-background;
      }

      &.react-datepicker__day--selected,
      &.react-datepicker__day--keyboard-selected {
        color: black !important;
        background-color: variables.$primary-colour !important;

        &:hover {
          color: black !important;
          background-color: variables.$primary-colour !important;
        }
      }
    }
  }

  .react-datepicker {
    width: 100%;
    margin-top: 2px;
    border: 0;

    // Month Title
    .react-datepicker__month-container {
      background-color: variables.$bg-colour;
      width: 100%;
    }

    // Week Title
    .react-datepicker__day-names {
      display: flex;
      margin-top: 1rem;
      justify-content: space-evenly;
    }

    // Day Selector
    .react-datepicker__day {
      width: 12%;
      color: white;
      padding: 12px 0px;
      border-radius: 15px;
      align-items: center;

      &.marked-day {
        position: relative;

        // Red Marker
        &::before {
          content: "";
          position: absolute;
          border-radius: 50%;
          transform: translateX(-50%);
          bottom: 25%;
          left: 50%;
          width: 4px;
          height: 4px;
          background: red;
        }
      }
    }
  }
}

.tracking-drawer {
  padding: 1rem 2rem;

  &.collapsed {
    height: 35%;
    background-color: variables.$btn-background;
    @include mixins.top-border-radius(variables.$border-radius-overlay);
    position: fixed;
    z-index: 2000;
    color: white;
    margin-bottom: 70px;
  }

  &.expanded {
    height: 95vh;
    background-color: variables.$btn-background;
    @include mixins.top-border-radius(variables.$border-radius-overlay);
    color: white;
  }
}

.tracking-drawer-content {
  .drawer-handle {
    padding-top: 8px;
    left: 50%;
    position: fixed;
    transform: translateX(-50%);

    #handle-bar {
      width: 80px;
      height: 5px;
      background-color: variables.$handle-colour;
      border-radius: 5px;
      cursor: pointer;
    }
  }
}

#tracking-option {
  position: fixed;
  right: 1rem;
  bottom: 80px;
  z-index: 1300;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 0.5rem;

  #options-btn {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 0;
    color: #92ac35;
    background-color: variables.$btn-primary-disabled;
  }

  #tracking-btn {
    width: auto;
    height: 60px;
    border-radius: 50px;
    border: 0;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: end;
    opacity: 0;
    transform: translateY(20px);
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;

    img {
      margin-left: 1rem;
    }
  }

  &.show {
    #tracking-btn {
      opacity: 1;
      transform: translateY(0);
      pointer-events: auto;

      &:nth-of-type(1) {
        transition-delay: 0.2s;
      }
      &:nth-of-type(2) {
        transition-delay: 0.1s;
      }
    }
  }

  &:not(.show) {
    #tracking-btn {
      &:nth-of-type(1) {
        transition-delay: 0.1s;
      }
      &:nth-of-type(2) {
        transition-delay: 0.2s;
      }
    }
  }
}

hr {
  border: none;
  height: 2px;
  background-color: variables.$handle-colour;
  margin: 20px 0;
}

.mantine-Slider-track {
  height: 32px;
  margin: 1rem 0;
}

.mantine-Slider-thumb {
  height: 55px;
  width: 20px;
}

.value-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;

  .value-types {
    display: flex;
    flex-direction: column;
  }
}

.box-item {
  #spending-title {
    display: flex;
    justify-content: space-between;
  }

  .tag-payment {
    display: flex;
    justify-content: space-between;
    align-items: center;

    #tag-btn {
      .tag-types {
        --button-height: 30px;
        --button-radius: 5px;
        background-color: white;
        margin-right: 5px;

        span {
          color: black;
        }
      }

      .tag-category {
        --button-height: 30px;
        --button-radius: 5px;
        background-color: variables.$tag-colour;

        span {
          color: white;
        }
      }
    }

    #credit-debit-cash {
      display: flex;

      h3 {
        color: variables.$payment-colour;
      }

      img {
        margin-left: 10px;
      }
    }
  }

  #spending-note {
    color: variables.$payment-colour;
  }
}

.box-size {
  width: 100%;
  margin-top: 1rem;
}
